body{
  padding-top: 70px;
}
.jumbotron
{
  background-color: #ecf0f1;
  color: #2c3e50;
}
.navbar
{
  background-color: #2c3e50;
  color: white;
}
a{
  color:white;
}
.navbar-default .navbar-brand {
    color:white;
}
.navbar-default .navbar-nav>li>a
{
  color:white;
}
.navbar-default .navbar-nav>li>a:hover
{
 background-color:white;
 color:#2c3e50
}

